@tailwind base;
@tailwind components;
@tailwind utilities;


@media(max-width: 992px) {
.hide-on-smallscreen {display: none;}
}

.external-link-icon::after {
  display: none;
}
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}



b,
strong {
  font-weight: bolder;
}


/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}



/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/* BORDERS */

.border {
  border-width: 4px;
  border-style: solid;
}

/* COLORS */

/* Light grey */

.bg-light-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}


/* GLOBAL */

.wrap-message {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  --tw-bg-opacity: 1;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-feedback-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 90px;
  border-style: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-feedback-buttons:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* AGENT */

.streaming {
  border-radius: 10px;
}


.accordion-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.accordion-container > .flex {
    /* full width for smaller screens */
    width: 100%;
    /* Optional: add other styles like padding or margin as needed */
}

.fr-icon-thumbs-up::before,
.fr-icon-thumbs-up::after {
  -webkit-mask-image: url("icons/feedbacks/thumbsUp.svg");
  mask-image: url("icons/feedbacks/thumbsUp.svg");
    mask-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
    display: flex;
  align-items: center;
  justify-content: center;
}
.fr-icon-thumbs-down::before,
.fr-icon-thumbs-down::after {
  -webkit-mask-image: url("icons/feedbacks/thumbsDown.svg");
  mask-image: url("icons/feedbacks/thumbsDown.svg");
    mask-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
    display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  color: black;
  padding: 10px;
  border-bottom: 0px solid !important;
}
.tooltip a {
  text-decoration: none !important;
  border-bottom: 0px solid !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 0.5s forwards;
}